$tutor$
..vimrc.un~
._.vimrc.un~
._vimrc.un~
.anaconda/
.astropy/
.cache/
.cisco/
.conda/
.condarc
.he.c.un~
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.matplotlib/
.plotly/
.pylint.d/
.python.py.swo
.python.py.swp
.spyder-py3/
.vim/
.viminfo
.vimrc~
.vscode/
0
1
3D
Objects/
Anaconda3/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Dropbox/
Favorites/
IntelGraphicsProfiles/
JY-P2_v2.py
Jenny-Yang-DS.csv
LBFPythonScripts/
Links/
MicrosoftEdgeBackups/
Music/
NTUSER.DAT
NTUSER.DAT{b60fa38f-0ae2-11e9-a624-00059a3c7a00}.TxR.0.regtrans-ms
NTUSER.DAT{b60fa38f-0ae2-11e9-a624-00059a3c7a00}.TxR.1.regtrans-ms
NTUSER.DAT{b60fa38f-0ae2-11e9-a624-00059a3c7a00}.TxR.2.regtrans-ms
NTUSER.DAT{b60fa38f-0ae2-11e9-a624-00059a3c7a00}.TxR.blf
NTUSER.DAT{b60fa390-0ae2-11e9-a624-00059a3c7a00}.TM.blf
NTUSER.DAT{b60fa390-0ae2-11e9-a624-00059a3c7a00}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{b60fa390-0ae2-11e9-a624-00059a3c7a00}.TMContainer00000000000000000002.regtrans-ms
Nextcloud/
OneDrive/
Pictures/
PySS/
Saved
Games/
Searches/
Sti_Trace.log
Untitled.ipynb
Untitled1.ipynb
Videos/
W-Clark.Rmd
_.swb
_.swc
_.swd
_.swe
_.swf
_.swg
_.swh
_.swi
_.swj
_.swk
_.swl
_.swm
_.swn
_.swo
_.swp
_.vimrc
_viminfo
_vimrc~
a.exe
autojump/
crawler_text
debug.log
dude.png
fuckthatshit.png
fucku/
geckodriver.log
ghostdriver.log
gitcommand
he.c
he.c~
line
note.txt
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
potential_vimrc_command.txt
rodrigo.txt
test.xlsx
testing_plug.py
vim-surround/
wagner-cone-prosthesis-hip-stem-surgical-technique.pdf
wos_stats_test_1.py
wos_stats_test_1.txt
x.txt
~/
3D Objects/
Saved Games/
